@font-face {
  font-family: 'NeueHaasGroteskDisp W02';
  src: url('../fonts/NeueHaasGroteskDisplayW02Reg.ttf'); /* IE9 Compat Modes */
  src: url('../fonts/NeueHaasGroteskDisplay W02Reg.ttf?#iefix') format('truetype'), /* IE6-IE8 */
}

body {
  font-family: 'NeueHaasGroteskDisp W02', sans-serif;
  background: #FFF;
  color: #1D1D1F;
}

#intro {
  text-align: left;
}

#intro h1 {
  font-size: 48px;
  line-height: 64px;
  font-weight: normal;
  margin-bottom: 30px;
}

#intro p {
  font-size: 26px;
  line-height: 44px;
  color: #768093;
  margin-bottom: 30px;
}

.avatar {
  width: 110px;
  height: 110px;
  margin: 100px 0 50px 0;
}

.avatar img {
  border-radius: 65px;
}

.skew-top {
  height: 250px;
  position: absolute;
  width: 100%;
}

.skew-top:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: visible;
  width: 100%;
  height: 250px;
  background: #4F40FF;
  z-index: -1;
  -webkit-transform: skewY(-2deg);
  -moz-transform: skewY(-2deg);
  -ms-transform: skewY(-2deg);
  -o-transform: skewY(-2deg);
  transform: skewY(-2deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: initial;
}

.skew-bottom {
  height: 250px;
  position: absolute;
  width: 100%;
}

.skew-bottom:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: visible;
  width: 100%;
  height: 250px;
  background: #D8E9FF;
  z-index: -2;
  -webkit-transform: skewY(-1deg);
  -moz-transform: skewY(-1deg);
  -ms-transform: skewY(-1deg);
  -o-transform: skewY(-1deg);
  transform: skewY(-1deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: initial;
}

.links {
  display: block;
  max-width: 315px;
  margin: auto;
  padding: 90px 0;
}

.link {
  width:83px;
  height: 83px;
  border-radius: 42px;
  background: #FFFFFF;
  box-shadow: 0 12px 23px 0 rgba(0,0,0,0.05), 0 2px 7px 0 rgba(0,21,64,0.14);
  display: inline-block;
  margin: 0 10px;
}

.icon {
  color: #4F40FF;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  display: block;
  margin-top: 23px;
}

.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#footer{
  margin: 30px 0;
}

#footer p {
  text-align: center;
  font-size: 18px;
}

@media (max-width:600px) {

  #intro h1 {
    font-size: 26px;
    line-height: 1.5;
    font-weight: normal;
    margin-bottom: 30px;
  }

  #intro p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
  }

}
